
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Display", Arial, Helvetica, sans-serif;

}

/*html {
    height: 100vh;
}*/

body {
    background-color: #ffffff;
    height: 100vh;
    padding: 15px;
}

.container {
    padding: 10px;
    padding-bottom: 35px;
    background-color: #f8deff;
    border-radius: 10px;
    max-width: 720px;
}

.center {
    margin: 0 auto;
}

.hidden {
    display: none !important;
}

.text-center {
    text-align: center;
}

.bold{
    font-weight: bold;
} 

.question-container, .answer-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    max-width: 640px;   
}
.answer-container {
    margin-bottom: 25px;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
} 

.flex-col {
    display: flex;
    flex-direction: column;
}

.checkbox{
    padding-top: 2px;
    width: 15px;
    height: 15px;
} 

#user-message-box {
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 5px;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 14px;
}

button {
    margin-top: 15px;
    width: 80px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #feffd5;
}

button:hover {
    background-color: #dae6ff;
}

#messages-div {
    padding: 3px 5px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 14px;
}

.mt-10 {
    margin-top: 10px;
}
.mx-10 {
    margin: 0 10px;
} 

#error-field {
    margin-top: 10px;
    color: red;
}