:root {
    --body-bg-color: #ffffff;
    --container-bg-color: #f8deff;
    --container-bg-color-dark: #251e2b;
    --container-text-color: black;
    --container-max-width: 960px;
    --messages-bg-color-dark: #2b2b2b;
    --text-box-max-width: 880px;
    --user-message-border-color-dark: black;
    --button-border-color: black;
    --button-bg-color: #feffd5;
    --button-hover-bg-color: #dae6ff;
    --messages-div-bg-color: #ffffff;
    --messages-div-border-color: black;
    --messages-div-div-bg-color: #fcf3ff;
    --messages-div-div-bg-color-dark: #222222;
    --messages-div-pre-code-bg-color: #e7e7e7;
    --messages-div-pre-code-bg-color-dark: #080808;
    --messages-div-pre-code-border-color-dark: black;
    --messages-div-code-bg-color: #e7e7e7;
    --messages-div-code-bg-color-dark: #080808;
    --error-field-text-color: red;
    --chats-list-bg-color: #f5e9f8;
    --confirm-bg-div-bg-color: #3f3e3b;
    --confirm-delete-text-color: black;
    --confirm-delete-bg-color: #ffa500;
    --bg-color-dark: #161616;
    --text-color-dark: #ececec;
}   

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Display", Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--body-bg-color);
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
}

.container {
    padding: 10px;
    padding-bottom: 35px;
    background-color: var(--container-bg-color);
    color: var(--container-text-color);
    max-width: var(--container-max-width);
    min-height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
}
.container.dark {
    background-color: var(--container-bg-color-dark);
}

.chatbox {
    max-height: 100%;
}

.center {
    margin: 0 auto;
}

.hidden {
    display: none !important;
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.relative {
    position: relative;
} 

.absolute-top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

.absolute-top-left {
    position: absolute;
    top: 20px;
    left: 20px;
}

.user-message-container, .messages-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    max-width: var(--text-box-max-width);   
}
.messages-container {
    margin-bottom: 25px;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
} 

.flex-col {
    display: flex;
    flex-direction: column;
}

.between {
    justify-content: space-between;
}

.checkbox{
    padding-top: 2px;
    width: 15px;
    height: 15px;
} 

#user-message-box {
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 5px;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 14px;
}
#user-message-box.dark {
    background-color: var(--messages-bg-color-dark);
    border: 1px solid var(--user-message-border-color-dark);
} 

button {
    margin-top: 15px;
    width: 80px;
    height: 25px;
    border: 1px solid var(--button-border-color);
    border-radius: 5px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: var(--button-bg-color);
}

button:hover {
    background-color: var(--button-hover-bg-color);
}

.chats-list button {
    margin-top: 0;
    min-width: 50px;
    max-width: 50px;
    height: 20px;
}

.chats-list button.left-button {
    margin-left: auto;
}

#messages-div {
    padding: 15px 15px;
    background-color: var(--messages-div-bg-color);
    border-radius: 5px;
    border: 1px solid var(--messages-div-border-color);
    font-size: 14px;
}
#messages-div.dark {
    background-color: var(--messages-bg-color-dark);
}
#messages-div>div {
    padding: 10px;
    background-color: var(--messages-div-div-bg-color);
    border-radius: 10px;
}
#messages-div>div.dark {
    background-color: var(--messages-div-div-bg-color-dark);
}
#messages-div ul>li, #messages-div ol>li {
    margin-left: 20px;
}
#messages-div>div>p {
    font-size: 16px;
}
#messages-div pre:has(code) {
    padding: 5px;
    background-color: var(--messages-div-pre-code-bg-color);
    border-radius: 5px;
    overflow-x: auto;
}
#messages-div pre:has(code.dark) {
    padding: 5px;
    background-color: var(--messages-div-pre-code-bg-color-dark);
    border: 1px solid var(--messages-div-pre-code-border-color-dark);
    border-radius: 5px;
    overflow-x: auto;
}
#messages-div code {
    background-color: var(--messages-div-code-bg-color);
}
#messages-div code.dark {
    background-color: var(--messages-div-code-bg-color-dark);
}

.mt-20 {
    margin-top: 20px;
}
.mx-10 {
    margin: 0 10px;
}
.mb-10 {
    margin-bottom: 10px;
}
.pre {
    white-space-collapse: preserve;
} 

#error-field {
    margin-top: 10px;
    color: var(--error-field-text-color);
}


@keyframes chatListOpen {
  0%   {left: -100%;}
  100% {left: 0;}
}
@keyframes chatListClose {
  0%   {left: 0;}
  100% {left: -100%;}
}
.chats-list {
    padding: 10px;
    z-index: 3;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    animation-duration: 0.25s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    background-color: var(--chats-list-bg-color);
}
.chats-list ul {
    list-style-type: disc;
    padding: 15px;
}
.chats-list ul>li {
    margin-bottom: 15px;
    margin-left: 20px;
}
.chats-list ul>li p {
    font-size: 14px;
    text-wrap: nowrap;
    overflow: hidden;
}
.chats-list ul>li p:hover {
    cursor: pointer;
}

#confirm-bg-div {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    opacity: 0.6;
    background-color: var(--confirm-bg-div-bg-color);
}

#confirm-delete {
    padding: 10px;
    width: 200px;
    height: 150px;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 5;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50% - 100px);
    color: var(--confirm-delete-text-color);
    background-color: var(--confirm-delete-bg-color);
}

.dark {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
} 